
main{
    background-color: #292b2c;
    color: white;
}
.navbar a{
color: white;
font-size: larger;
}
.dropdown-menu{
    background-color: #292b2c;
}


.carousel-item img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.marketing img{

    width: 100px;
    height: 100px;
}

.featurette img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}